[submodule "deep_grasp_demo"]
	path = deep_grasp_demo
	url = https://github.com/jeoseo/deep_grasp_demo
[submodule "gqcnn_dependencies/autolab_core"]
	path = gqcnn_dependencies/autolab_core
	url = https://github.com/BerkeleyAutomation/autolab_core
[submodule "gqcnn_dependencies/gqcnn"]
	path = gqcnn_dependencies/gqcnn
	url = https://github.com/BerkeleyAutomation/gqcnn
[submodule "gqcnn_dependencies/perception"]
	path = gqcnn_dependencies/perception
	url = https://github.com/BerkeleyAutomation/perception
[submodule "gqcnn_dependencies/visualization"]
	path = gqcnn_dependencies/visualization
	url = https://github.com/BerkeleyAutomation/visualization
[submodule "moveit_task_constructor"]
	path = moveit_task_constructor
	url = https://github.com/Avdbergnmf/moveit_task_constructor
[submodule "roboticsgroup_gazebo_plugins"]
	path = roboticsgroup_gazebo_plugins
	url = https://github.com/roboticsgroup/roboticsgroup_gazebo_plugins.git
[submodule "xarm_ros"]
	path = xarm_ros
	url = https://github.com/jeoseo/xarm_ros
[submodule "permobil_arm"]
	path = permobil_arm
	url = https://github.com/jeoseo/permobil_arm.git
[submodule "gpd"]
	path = gpd
	url = https://github.com/atenpas/gpd.git
